@using MVC1.Models
@{
    Layout = "_Layout";
}
@model ProductModel

<div class="card bg-primary text-white" style="background: red; margin:30px; padding: 30px;">
    <h1 class="card-header">San pham @Model.Name</h1>
    <div class="card-body">
        <p class="card-text">
          Price: @Model.Price
        </p>
    </div>


</div>

    using MVC1.Models;
#line default
