@page  "/aboutRazor.html"
@{
    Layout = "_Layout";
}
<h1>Gioi thieu ve Razor </h1>

<p>
    Razor là 1 template engine trong .Net, nó là template engine mặc định của ASP.Net.MVC, có chức năng render HTML từ các view (.cshtml)
    View (.cshtml) cho phép viết HTML và nhúng code c#.
</p>