@{
    Layout = "_Layout";
}
@model string

<div class="card bg-primary text-white" style="background: rgb(46, 40, 40); margin:30px; padding: 30px;">
    <h1> xin chao @Model</h1>
    <p>
        Ban dang tim hieu ve View 3 (.cshtml) trong ASP.Net MVC
    </p>

</div>

@this.Path